.cell {
    -fx-border-style: solid;
}

.selectable {
    -fx-border-width: 5;
}

.selectable:hover {
    -fx-border-width: 5;
    -fx-background-color: silver;
}

.winningCell {
    -fx-background-color: green;
}